# Private key config (DO NOT COMMIT)
# Set your TRON private key as a hex string (no 0x prefix).
TRON_PRIVATE_KEY=
EXCHANGE_ID=binance
EXCHANGE_API_KEY=
EXCHANGE_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_AUTH_BOT_TOKEN=

#moniter
TRON_WALLET_ADDRESS=
EVM_RPC_ETH=
EVM_WALLET_ADDRESS=
USDT_ERC20_CONTRACT=