# Private key config (DO NOT COMMIT)
# Set your TRON private key as a hex string (no 0x prefix).
TRON_PRIVATE_KEY=
EXCHANGE_ID=binance
EXCHANGE_API_KEY= 
EXCHANGE_SECRET= 
EXCHANGE_PASSWORD=
EXCHANGE_API_DOMAIN=
EXCHANGE_PROXY=
TELEGRAM_BOT_TOKEN=8408940483:AAGcyQMTJ1k0FbyTPRUFt-2YSONK0MSmvYk
TELEGRAM_CHAT_ID=7983582331
