# Private key config (DO NOT COMMIT)
# Set your TRON private key as a hex string (no 0x prefix).
TRON_PRIVATE_KEY=
EXCHANGE_ID=binance
EXCHANGE_API_KEY= ZWRlpHtbiFzoto8OhoIvh7gN4rkLqdcGc8W5aQjYIsej1O5bpUV8aCF5lxbt4bhJ
EXCHANGE_SECRET= wv59kBfwaKjnxJRwj6kVbzoD6GViGbnxXy3eHFHpz6oPB0hhRXzV1Alp4Sr1RM2e
EXCHANGE_PASSWORD=
EXCHANGE_API_DOMAIN=
EXCHANGE_PROXY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
